{% extends 'base.html.twig' %}

{% block title %}
    Manga list
{% endblock %}
{% block body %}
    <div class="container-fluid">
        <h1>Mangas list</h1>

        {% if is_granted('ROLE_ADMIN') %}
            <a class="btn btn-primary" href="{{ path('manga_new') }}">{{ "manga.createNew"|trans({}, 'manga') }}</a>
        {% endif %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>{{ "manga.title"|trans({}, 'manga') }}</th>
                    <th>{{ "manga.author"|trans({}, 'manga') }}</th>
                    <th>{{ "manga.status"|trans({}, 'manga') }}</th>
                    <th>{{ "manga.views"|trans({}, 'manga') }}</th>
                    <th>{{ "manga.action"|trans({}, 'manga') }}</th>
                </tr>
            </thead>
            <tbody>
            {% for manga in mangas %}
                <tr>
                    <td><a href="{{ path('manga_show', { 'id': manga.id }) }}">{{ manga.id }}</a></td>
                    <td>{{ manga.title }}</td>
                    <td>{{ manga.author }}</td>
                    <td>{{ manga.status }}</td>
                    <td>{{ manga.views }}</td>
                    <td>
                        <ul>
                            {% if is_granted('ROLE_ADMIN') %}
                                <li>
                                    <a href="{{ path('manga_edit', { 'id': manga.id }) }}">edit</a>
                                </li>
                            {% endif %}
                            <li>
                                <a href="{{ path('manga_show', { 'id': manga.id }) }}">show</a>
                            </li>

                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>




    </div>
{% endblock %}
